<div class="container center-align">
  <h1 class="center-align noto"> Welcome to PodFolio </h1>



  <div class="">
    <p>A place for you to collect, expand, and share your collection of podcasts.</p>
  </div>



  <br>

  <div class="">
    <% if (session[:user_id]) %>
    <div class="btn yellow darken-2">
      <%= link_to "Go to your user page", user_path(session[:user_id]), {:style=>'color:#FFFFFF;'}%>
    </div>
  </div>
  <br>

  <div class="">
    <p> See what our users are listening to: </p>
  </div>

  <div id="app">
  </div>


  <br>
  <% end %>
  <div class="">
    <p>Podfolio was created by Luke Rafferty while learning at Launch Academy in Boston. <br> It is powered by the Audiosear.ch API. </p>
  </div>
  <div>
    <%= image_tag("audiosearch.png") %>
  </div>
</div>
