<div class="container">
  <div class="align-center">
    <h3> <%= @user.username %>'s PodFolio </h3>
  </div>

  <% @selected_podcasts.each do |selected_podcast| %>
    <% podcast = selected_podcast.podcast %>
    <div class="hoverable card-panel cyan lighten-4" id="userPodcastTile">
      <div>
        <h5 class="grey-text text-darken-4"> <%= podcast.name %> </h5>
      </div>
      <% if @user.id == session[:user_id] %>
        <%= link_to "Destroy", selected_podcast_path(selected_podcast), method: :delete,
        data: { confirm: "You sure?" } %>
      <% end %>
    </div>
  <% end %>
  <div class="btn center-align">
    <%= link_to "Add a podcast to your collection", podcasts_path, {:style=>'color:#FFFFFF;'} %>
  </div>
  <div id="app">
  </div>

</div>
