<div class="container">
  <div class="center-align">
    <h3> <%= @user.username %>'s PodFolio </h3>
  </div>

  <% @selected_podcasts.each do |selected_podcast| %>
    <% podcast = selected_podcast.podcast %>
    <div class="hoverable card-panel cyan lighten-4" id="userPodcastTile">
      <div >
        <%= link_to "#{podcast.name}", podcast_path(podcast.id), {:style=>'color:black;'} %>
      </div>
      <% if @user.id == session[:user_id] %>
        <div>
          <%= button_to "Remove", selected_podcast_path(selected_podcast), method: :delete, data: { confirm: "You sure?" }  %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="btn center-align">
    <%= link_to "Add a podcast to your collection", podcasts_path, {:style=>'color:#FFFFFF;'} %>
  </div>
  <div id="app">
  </div>

</div>
