
<div class="container">
  <div class="center-align">
    <h1> <%= @user.username %>  </h1>
  </div>


  <% @podcasts.each do |podcast| %>
    <div>
      <p> <%= podcast.name %> </p>
    </div>
  <% end %>




  <%= link_to "Add a podcast", podcasts_path %>
</div>
