<div class="container">
  <div>
    <h3> <%= @user.username %>'s PodFolio </h3>
  </div>

  <% @podcasts.each do |podcast| %>
    <div class="hoverable">
      <p> <%= podcast.name %> </p>
    </div>
  <% end %>


  <div id="app">
  </div>

  <%= link_to "Add a podcast", podcasts_path %>
</div>
