p {
  font-family: 'Libre Baskerville', serif;
}

img {
  border-radius: 8px;
}

.hoverable{
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.noto{
  font-family: 'Noto Sans', sans-serif;
}

.in-tile-text {
  border: solid;
  border-width: thin;
  padding: 3%;
  height: 150px;
  overflow-y: auto;
  background-color: #FCFCFC;
  margin-top: 0px;
  text-align: left;
  border-radius: 8px;
  align-items: flex-start;
}

#podcast-show-image {
  margin: 5%;
}

div#trash-button {
  padding: 5px 10px;
}


#podcast-title:hover{
  padding-left: 20px;
  text-decoration: underline;

}

.homepage-button{
  margin: .75em;
}

.home-button-text{
  color: white;
}

.background{
  background-image: url("hexellence.png");
  background-repeat: repeat;
}

.show-container{
  border: solid;
  background-color: #8D9EA5;
  border-width: thin;
  padding: 5%;
  margin-top: 5em;
  border-radius: 5%;
}

.nav-style{
  background-color: #8D9EA5;
}

.button-style{
  color: #245DA1;
}

#user-show-button{
  margin-top: 1em;
  margin-left: 13em;
}

.index-container{
  background-color: #8D9EA5;
}

#search-title{
  margin-top: 0px;
  margin-bottom: 0px;

}

#search-buzz{
  margin-top: 0px;
  margin-bottom: 0px;
}

#search-tile-text{
  padding: 3%;
  text-align: left;
}

#show-images{
  height: 150px;
}

#search-index-tile-content{
  padding-right: 0px;
}
