p {
  font-family: 'Libre Baskerville', serif;
}


.noto{
  font-family: 'Noto Sans', sans-serif;
}

.in-tile-text {
  border: solid;
  border-width: thin;
  padding: 3%;
  margin-top: 0;
}

#podcast-show-image {
  margin: 5%;
}

div#trash-button {
  padding: 5px 10px;
}

#podcast-title{
  text-decoration: underline;
}

.homepage-button{
  margin: .75em;
}

.home-button-text{
  color: white;
}
