<!DOCTYPE html>
<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <%= javascript_include_tag "application" %>
  </head>
  <nav>
    <div class="nav-wrapper cyan darken-4">

      <a href="/home" class="brand-logo">PodFolio</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <% if current_user %>
          <li>Signed in as <%= current_user.username %></li>
          <li><a href='users_path'</li>
          <li><a href='/logout'>Sign Out</a></li>


        <% else %>

          <li><a href='/login'>Sign In</a></li>
          <li><a href='/signup'>Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <body class="FFFFFF lighten-5">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <%= yield %>
  </body>
</html>
